# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore
# Ignorar a pasta node_modules
node_modules/

# Ignorar arquivos de build
/dist
/build

# Arquivos temporários e de log
*.log
*.tmp
*.bak

# Ignorar configurações de editor
.vscode/
.idea/

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db
